* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0a0f0d;
  color: white;
  font-family: Arial, sans-serif;
}

.timeline-wrapper {
  position: relative;
  width: 80%;
  margin: auto;
}

.curve {
  position: absolute;
  left: 50%;
  top: 0;
  height: 1400px;
  transform: translateX(-50%);
}

.curve path {
  fill: none;
  stroke: rgba(127, 255, 161, 0.2);
  stroke-width: 4;
}

.timeline {
  padding: 120px 60px;
  text-align: center;
  background: linear-gradient(180deg, rgba(10, 15, 13, 0.6) 0%, rgba(15, 30, 20, 0.8) 100%);
  border-top: 1px solid rgba(127, 255, 161, 0.1);
  border-bottom: 1px solid rgba(127, 255, 161, 0.1);
  font-family: "Times New Roman", Times, serif; 

    background-image:
    url("../../assets/timeline.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;
}

.timeline h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #7fffa1;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-shadow: 0 0 30px rgba(127, 255, 161, 0.1);
  font-family: "Times New Roman", Times, serif; 
}

.timeline p {
  color: #999;
  font-size: 1.1rem;
  margin: 0;
  font-family: "Times New Roman", Times, serif; 
}

.milestone {
  width: 40%;
  background: #111;
  border: 2px solid rgba(127, 255, 161, 0.3);
  padding: 20px;
  border-radius: 12px;
  margin: 120px 0;
  opacity: 0.3;
  transform: translateY(50px);
  transition: all 0.6s ease;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

.milestone h3 {
  color: #7fffa1;
  margin-bottom: 8px;
}

.milestone span {
  font-size: 1rem;
  opacity: 0.8;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.milestone.active {
  opacity: 1;
  transform: translateY(0);
  border-color: #7fffa1;
  box-shadow: 0 0 25px rgba(127, 255, 161, 0.7);
}
