.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.book, .book input, .book form button {
font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  color: black;
  background-color: transparent;
  border-radius:0.25em ;
  
  
  
}


.Form {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  color: black;
  font-size: 0.85em;
}

.Form div{
  width: 100%;

  
}

.heading {
  font-size: 1.4em;
  font-weight: 600;      /* font-semibold */
  text-align: center;
  position: relative;
  top: 0;
  text-decoration: underline;
}

/* .grid > div:hover {
    transform:none;
    border-color:transparent;
    box-shadow: none;
    padding:0px;
    background: none;
    border-radius: 0px;
    border:none;
    transition:none;
    position: relative;
    overflow: hidden;
} */



.space-y-\[1\.2em\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.2em * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.2em * var(--tw-space-y-reverse));
}


/* ROOT BOOK CONTAINER */
.book {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* BACKGROUND GIF */
.book > img {
  width: 100%;

}

/* CENTERED BOOK IMAGE CONTAINER */
.book .absolute {
  position: absolute;
}

.book .absolute.h-80 {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BOOK SVG */
.book svg,
.book img[alt="book"] {
  height: 100%;
  object-fit: contain;
}

/* FORM WRAPPER (BOOK PAGE AREA) */
.book-form-wrapper {
  position: absolute;
  width: 77%;
  overflow: auto;
  aspect-ratio: 510.92 / 375.32;
  display: flex;
}

/* FORM GRID */
.Form {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  color: black;
  font-size: 0.85em;
}

/* LEFT PAGE */
.left-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2em;
  padding: 0.5rem;
}

/* RIGHT PAGE */
.right-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

/* HEADING */
.Form h2 {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

/* INPUT FIELDS */
.Form input {
  border-radius: 4px;
  border: 1px solid #d1d5db; /* gray-300 */
  padding: 0.4em;
  outline: none;
}

.Form input:focus {
  border-color: #121212;
}

/* SUBMIT BUTTON */
.Form button {
  margin: 0.5rem;
  font-size: 1.4em;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.Form button:hover {
  color: #16a34a; /* green-600 */
}



