.dashboard {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.dashboard-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.dashboard-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.dashboard-content {
  position: relative;
  z-index: 10;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
