container: {
    minHeight: "70vh",
    display: "flex",
    justifyContent: "center",
    alignItems: "center",
  },
  card: {
    background: "#111",
    padding: "40px",
    borderRadius: "12px",
    textAlign: "center",
    boxShadow: "0 10px 30px rgba(0,0,0,0.3)",
    maxWidth: "400px",
    width: "90%",
  },
  title: {
    fontSize: "28px",
    marginBottom: "12px",
    color: "#fff",
  },
  text: {
    fontSize: "18px",
    color: "#ccc",
  },
  subText: {
    marginTop: "8px",
    fontSize: "14px",
    color: "#888",
  }